@use "variables";
@use "mixins";

//* {
//  --out-width: 2px;
//  outline: var(--out-width) solid red;
//  outline-offset: calc(0px - var(--out-width));
//  &::before, &::after {
//    outline: var(--out-width) solid lime;
//    outline-offset: calc(0px - var(--out-width));
//  }
//}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: mixins.clampvw(14, 20);
  font-weight: var(--main-font-weight, 400);
  line-height: 1.5;
  font-family: var(--font-main, Arial);
  background-color: var(--color-bg, #ffffff);

  &.mac {
    // stylelint-disable-next-line
    min-height: -webkit-fill-available; //  mobile viewport bug fix (webkit)
  }
}

.body-with-open-modal {
  overflow: hidden;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 100dvh;
}

.visually-hidden {
  @include mixins.visually-hidden;
}

.wrapper {
  //display: grid;
  //grid-template-rows: auto 1fr auto;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
}

.container {
  @include mixins.container;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

input:where([type="text"], [type="email"], [type="tel"], [type="url"], [type="date"], [type="search"], [type="password"], [type="number"], [type="time"], [type="month"], [type="week"]),
textarea  {
  --input-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  padding: var(--input-pt, 12px) var(--input-pr, 14px) var(--input-pb, 12px) var(--input-pl, 14px);
  background-color: var(--color-input-bg, #cacaca);
  border: none;
  border-bottom: 1px solid var(--color-input-border, currentColor);
  border-radius: 0;
  font-family: inherit;
  font-stretch: inherit;
  font-variation-settings: inherit;
  font-size: inherit;
  color: var(--color-input, inherit);
  font-weight: 400;

  // поле с автозаполнением (убираем голубой цвет) - часть 1/2
  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  // поле с автозаполнением (убираем голубой цвет) - часть 2/2
  &[data-autocompleted] {
    // stylelint-disable-next-line
    background-color: transparent !important;
  }
  /* stylelint-disable declaration-no-important  */

  &:-webkit-autofill::first-line,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    // stylelint-disable-next-line
    font-weight: 400;
    font-family: var(--font-input, inherit) !important;
  }

  /* stylelint-enable */
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.3;
  }
}

input {
  line-height: 1;
}

textarea {
  min-height: 5lh;
  // line-height: revert;
  resize: vertical;
}

select,
::picker(select) {
  appearance: base-select;

  width: 100px;
  border: 1px solid var(--bright, currentColor);
  border-radius: 8px;
}

select {
  min-width: 250px;
  text-align: left;
  background: none;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  background: white;

  button {
    & > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

::picker(select) {
  padding: 0;
  margin-block: 2px;
}

option {
  color: gray;
  padding: 0.75rem 1.5rem 0.75rem 2.5rem;
}

selectedcontent {
  font-weight: 800;
}

.arrow img {
  width: 1em;
  opacity: 0.4;
  vertical-align: middle;
}

option, selectedcontent {
  letter-spacing: 0.3px;
}

select::picker-icon {
  display: none;
}

/* checked style */

option:checked {
  background: #d0edd0;
  color: black;
}

option::checkmark {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuMjg1IDJsLTExLjI4NSAxMS41NjctNS4yODYtNS4wMTEtMy43MTQgMy43MTYgOSA4LjcyOCAxNS0xNS4yODV6Ii8+PC9zdmc+");
  background-size: cover;
  position: absolute;
  left: 0.75rem;
}

button {
  font-stretch: inherit;
  font-variation-settings: inherit;
}

:where(strong, b) {
  font-weight: var(--bold-fw, 700);
}

h1 {
  margin-top: 0;
  font-size: mixins.clampvw(38, 64);
  font-weight: 500;
  font-family: var(--font-title, inherit);
  line-height: 1.2;
}

h2 {
  width: fit-content; // для полного заполнения градиентом
  //margin-top: 0;
  margin-bottom: 0.78em;
  font-size: mixins.clampvw(16, 48);
  font-weight: 400;
  line-height: 1.09;
  font-family: var(--font-title, inherit);
  background: var(--title-gradient, rgba(0, 0, 0, 0)) repeat top;
  color: transparent;
  background-clip: text;
}

h3 {
  //margin-top: 0;
  margin-bottom: 0.78em;
  font-size: mixins.clampvw(16, 24);
  font-weight: 400;
  line-height: 1.09;
  font-family: var(--font-title, inherit);
}

:where(a) {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

:where(table) {
  border-collapse: separate;
  border-spacing: 2px;
  background: var(--gradient, currentColor);
  font-size: mixins.clampvw(14, 16);
  word-break: initial;

  td,
  th {
    padding: 5px 20px;
    background: #ffffff;
    vertical-align: top;
  }

  th {
    background: rgba(255, 255, 255, 0.84);
  }
}

:where(picture, source) {
  display: contents;
}

:where(figure) {
  margin: 0;
}

:where(address) {
  font-style: normal;
}

.bright {
  color: var(--bright, #ff0000);
}

:where([data-fancybox]) {
  cursor: pointer;
}
