@use "sass:math";
// для подключения модуля math в scss
@use "sass:string";
// для работы со строками

@use "variables";


//vw
$layout-width: 1900; //указываем ширину макета, от которой вычисляем vw

@function vw($size) {
  @return #{(math.div($size, $layout-width)*100)}vw;
}

@function clampvw($min, $max) {
  @return clamp(#{$min}px,  #{(math.div($max, $layout-width)*100)}vw, #{$max}px);
}


// Применение функций vw и clamp
//.dd {
//  font-size: vw(120);
//}
//.dd {
//  font-size: clampvw(18,120);
//}


// функция, которая переведет px в vw
// и в итоге запретит увеличиваться больше, чем было px при макетной ширине
// не нужно будет писать лишние media
// тут используется в основном для padding крупных секций
@function min-px-vw($size) {
  // но нужно экранировать min, т.к. зарезервированная функция scss
  @return #{"min("}$size+px, (math.div($size, $layout-width)*100)+vw#{")"};
}


//media

@mixin esm {
  @media (min-width: variables.$esm) {
    @content;
  }
}

@mixin sm {
  @media (min-width: variables.$sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: variables.$md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: variables.$lg) {
    @content;
  }
}

//@media (min-width: 1390px) {
//@mixin _lg {
//  @media (min-width: 1300px) {
//    @content;
//  }
//}

@mixin elg {
  @media (min-width: variables.$elg) {
    @content;
  }
}

@mixin lg-max {
  @media (max-width: (variables.$lg - 0.02px)) {
    @content;
  }
}

@mixin md-max {
  @media (max-width: variables.$md - 0.02px) {
    @content;
  }
}

@mixin sm-max {
  @media (max-width: variables.$sm - 0.02px) {
    @content;
  }
}

@mixin esm-max {
  @media (max-width: variables.$esm - 0.02px) {
    @content;
  }
}

//
//@mixin _320 {
//  @media (min-width: 320px) {
//    @content;
//  }
//}
//
//@mixin _480 {
//  @media (min-width: 480px) {
//    @content;
//  }
//}
//
//@mixin _600 {
//  @media (min-width: 600px) {
//    @content;
//  }
//}
//
//@mixin _768 {
//  @media (min-width: 768px) {
//    @content;
//  }
//}
//
//@mixin _980 {
//  @media (min-width: 980px) {
//    @content;
//  }
//}
//
//@mixin _1170 {
//  @media (min-width: 1170px) {
//    @content;
//  }
//}

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

////Usage:
//.selector {
//  $string: 'The answer to life the universe and everything is 42.';
//  content: str-replace($string, 'e', 'xoxo');
//}
////Result:
//.selector {
//  content: "Thxoxo answxoxor to lifxoxo thxoxo univxoxorsxoxo and xoxovxoxorything is 42.";
//}

//Для цвета в SVG
//
//$bright: #6dace2;
//$fill: str-replace($bright, '#', '%23');
//в самой svg fill='#{$fill}'


@mixin container {

  width: 100%;
  //max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--x-padding, 10px);
  padding-right: var(--x-padding, 10px);

  //outline: 1px solid deepskyblue;
  //overflow-x: hidden;

  @include lg {
    --w: #{clampvw(770, 1720)};
    --p: calc((100vw - var(--w)) / 2);
    //--p: calc((100vw - 1520px)/2);
    //max-width: $lg;
    max-width: clampvw(770, 1520); // чтобы были пропорциональные поля

    // переведем в padding
    // если переводить в padding, то потом у дочерних не работает max-width 100%
    // или это из-за фокуса флексов, решаемых min-width: 0;
    // проверь
    //padding-left: var(--p);
    //padding-right: var(--p);
  }
}

@mixin container-padding {
  padding-left: var(--x-padding, 10px);
  padding-right: var(--x-padding, 10px);
}

@mixin visually-hidden {
  position: fixed;
  transform: scale(0);
  color: inherit; // для того, чтобы не ругалось на контраст
}

@function opacity($color, $percent) {
  @return color-mix(in sRGB, $color $percent, transparent);
}

@mixin scroll() {
  --scroll-size: 6px;
  --scroll-color: var(--color-scroll, #ff0000);
  scrollbar-color: var(--scroll-color) rgba(0, 0, 0, 0.4); // FF цвет-ползунка цвет-полосы
  scrollbar-width: thin; // FF, auto, thin, none

  &::-webkit-scrollbar {
    width: var(--scroll-size);
    height: var(--scroll-size);
  }

  &::-webkit-scrollbar-track {
    background: linear-gradient(transparent calc(50% - 1px), var(--scroll-color) calc(50% - 1px), var(--scroll-color) calc(50% + 1px), transparent calc(50% + 1px));
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track:vertical {
    background: linear-gradient(to right, transparent calc(50% - 1px), var(--scroll-color) calc(50% - 1px), var(--scroll-color) calc(50% + 1px), transparent calc(50% + 1px));
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    height: var(--scroll-size);
    width: var(--scroll-size);
    border-radius: 6px;
    background: var(--scroll-color);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb:vertical {
    height: var(--scroll-size);
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    //background: rgba(green, 0.3);
  }
}


// Для этой функции нужен @use "sass:string"; в начале файла
@function image-set($file-name) {
  $dot-pos: string.index($file-name, ".");

  @if $dot-pos == null {
    @error "Файл должен содержать расширение, например 'puppy.png'";
  }
  $ext: string.slice($file-name, $dot-pos + 1);
  $base-name: string.slice($file-name, 1, $dot-pos - 1);

  $result: "image-set(url(\"../../images/#{$base-name}@1x.webp\") type(\"image/webp\") 1x, url(\"../../images/#{$base-name}@2x.webp\") type(\"image/webp\") 2x, url(\"../../images/#{$base-name}@1x.#{$ext}\") type(\"image/#{$ext}\") 1x, url(\"../../images/#{$base-name}@2x.#{$ext}\") type(\"image/#{$ext}\") 2x)";

  @return string.unquote($result);
}

// Пример использования
/*
.intro {
  background: mixins.image-set("bg.jpg") no-repeat top center / cover;
}
*/


// ////////////
// Project mixins

