// $elg: 1526px; //extra large
// //$lg: 1526px;  // +  !!!!!!!!!  переключается 1300
// //$lg: 1300px;  // +  !!!!!!!!!  переключается 1300
// $lg: 1000px; // +  !!!!!!!!!  переключается 1000 (чтобы на 1024 был уже десктоп)
// $md: 720px;
// $sm: 540px;
// $esm: 360px;

$elg: 1220px; //extra large
$lg: 992px;
$md: 768px;
$sm: 480px;
$esm: 356px;

$nav-breakpoint: 1240px;

$sizes: (
  elg: $elg,
  lg: $lg,
  md: $md,
  sm: $sm,
  esm: $esm
);

