@use "../global/variables";
@use "../global/mixins";

.btn-toggle {
  display: block;
  width: 20px;
  min-width: initial;
  //height: 24px;
  aspect-ratio: 30/24;
  padding: 0;
  background: var(--bright, currentColor);
  mask: url("data:image/svg+xml,%3Csvg width='30' height='24' viewBox='0 0 30 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.875 22.125H28.125M1.875 12.125H28.125M1.875 2.125H28.125' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center / contain;
  border: none;
  border-radius: 0;
  cursor: pointer;

  @include mixins.media(lg) {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

.btn-toggle--close {
  margin-top: 0;
  background: var(--color-inverse, #ffffff);
  mask-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='-1' x2='31.8277' y2='-1' transform='matrix(0.722642 -0.691223 0.495954 0.868349 1 24)' stroke='white' stroke-width='2'/%3E%3Cline y1='-1' x2='31.8277' y2='-1' transform='matrix(-0.722642 -0.691223 -0.495954 0.868349 24 24)' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
}
