@use "../global/variables";
@use "../global/mixins";

.btn {
  display: inline-block;
  vertical-align: middle;
  //min-width: 160px;
  max-width: 100%;
  //padding: 1.52em 3.24em;
  padding: 1em 2.8em;
  border: none;
  //font-size: 16px;
  font-size: mixins.clampvw(12, 21);
  font-family: var(--font-btn, inherit);
  //font-weight: 600;
  font-weight: inherit;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &:disabled {
    opacity: 0.8;
    cursor: auto;
  }

  &:focus {
    //outline: none;
    //opacity: 0.7;
  }
}

.btn--bright {
  position: relative;
  border: none;
  border-radius: 100vw; // для адаптивного скругления
  background: var(--bright, #292929);
  color: var(--color-inverse, #ffffff);
  text-decoration: none;
  //box-shadow: 0px 2px 27px rgba(18, 48, 154, 0.88);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  &:hover,
  &:focus {
    //outline: none;
    //opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}
