.main {
  overflow-wrap: break-word;
  hyphens: auto; // эти два только вместе нормально переносят

  :where(a:not([class])) {
    color: var(--bright, #ff0000);
    text-decoration: none;
    font-weight: 500;
  }
}
