@use "../global/variables";
@use "../global/mixins";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 50px var(--x-padding, 20px) 30px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 200;
  overflow-y: auto;
  overscroll-behavior: contain; // скролл только внутри блока

  &.hide {
    display: none;
  }
}

.modal__body {
  position: relative;
  width: 100%;
  max-width: 904px;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  background: var(--color-bg, #ffffff);

  @include mixins.lg {
    padding: 50px 60px;
  }
}

.modal__content {
  //
}

.modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  min-width: unset;
  padding: 0;
  border-radius: 50%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  color: currentColor;
  background: none;
  border: none;

  @include mixins.lg {
    top: 30px;
    right: 30px;
    font-size: 14px;
  }

  &:hover {
    color: var(--bright, #ff0000);
  }
}
