@use "../global/variables";
@use "../global/mixins";

$nav-width: variables.$lg;

@mixin media-nav {
  @media (min-width: $nav-width) {
    @content;
  }
}

@mixin media-nav-max {
  @media (max-width: ($nav-width - 0.02px)) {
    @content;
  }
}

.nav {
  --nav-indent-mobile: 0.8em;
  display: none;

  @include media-nav {
    display: flex;
    align-items: center;
    column-gap: 3em;
    color: var(--color-nav, currentColor);
  }
}

.nav--opened {
  @include media-nav-max {
    position: fixed;
    inset: 0;
    display: grid;
    grid-template-rows: 1fr min-content;
    justify-content: center;
    row-gap: 2em;
    width: 100%;
    height: 100dvh;
    padding: 40px 10px;
    font-size: 2rem;
    background: var(--color-bg, #ffffff);
    overflow-y: auto;
  }

  .nav__list {
    @include media-nav-max {
      align-self: start;
      display: grid;
      gap: 0.6em;
    }
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 0;
  margin: 0;
  font-size: 0.8em;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}
